body {
    font-size: 18px;
    text-align: center;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 15px;
}

h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

p {
    margin: 3px 0;
    padding: 0;
}

#russianSentenceContainer {
    margin-bottom: 45px;
}

#englishSentence {
    margin-top: 0px;
    
}

#sentenceContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    width: 75%;
    margin-left: 12.5%;
    height: 32px;
    position: relative;
}

#sentence {
    flex-grow: 1;
    text-align: left;
    margin-right: 25px;
    margin-left: -20px;
    color: #002843;
}

#removeLastWord {
    position: absolute;
    right: -10%;
}

.separator {
    width: 90%;
    height: 2px;
    background-color: #000;
    margin: 10px auto;
}

#wordsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
    width: 90%;
    margin: 0 auto;
}

.word {
    font-size: 18px;
    padding: 8px 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.word:hover {
    background-color: #2980b9;
}

.glass-button {
    font-size: 18px;
    padding: 8px 20px;
    color: #fff;
    border: 2px solid rgba(0, 0, 255, 0.6);
    border-radius: 15px;
    cursor: pointer;
    transition: color 0.5s, box-shadow 0.5s;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 255, 0.4), 0 6px 20px rgba(0, 0, 255, 0.3), inset 3px 3px 7px rgba(0, 0, 0, 0.4), inset -3px -3px 7px rgba(255, 255, 255, 0.6);
    margin: 5px 0;
    background: rgba(0, 0, 255, 0.3);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3), -2px -2px 3px rgba(255, 255, 255, 0.3);
}

.glass-button:hover {
    color: #fff;
    background: rgba(0, 0, 139, 0.4);
    box-shadow: 0 4px 12px rgba(0, 0, 139, 0.5), 0 6px 20px rgba(0, 0, 139, 0.4), inset 3px 3px 7px rgba(0, 0, 0, 0.4), inset -3px -3px 7px rgba(255, 255, 255, 0.6);
}

.glass-button-help {
    font-size: 18px;
    padding: 6px 13px;
    color: #fff;
    border: 2px solid rgba(255, 0, 0, 0.6);
    border-radius: 15px;
    cursor: pointer;
    transition: color 0.5s, box-shadow 0.5s;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(255, 0, 0, 0.4), 0 6px 20px rgba(255, 0, 0, 0.3), inset 3px 3px 7px rgba(0, 0, 0, 0.4), inset -3px -3px 7px rgba(255, 255, 255, 0.6);
    margin: 5px 0;
    background: rgba(255, 0, 0, 0.3);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3), -2px -2px 3px rgba(255, 255, 255, 0.3);
    font-weight: bold;
    /* Делаем стрелку жирнее */
    display: flex;
    justify-content: center;
    align-items: center;
}

.glass-button-help:hover {
    background-color: rgba(255, 0, 0, 0.4);
    box-shadow: 0 4px 12px rgba(255, 0, 0, 0.5), 0 6px 20px rgba(255, 0, 0, 0.4), inset 3px 3px 7px rgba(0, 0, 0, 0.4), inset -3px -3px 7px rgba(255, 255, 255, 0.6);
}

/* .glass-button-help {
    font-size: 18px;
    padding: 6px 13px;
    color: #fff;
    border: 2px solid rgba(255, 0, 0, 0.6);
    border-radius: 15px;
    cursor: pointer;
    transition: color 0.5s, box-shadow 0.5s;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(255, 0, 0, 0.4), 0 6px 20px rgba(255, 0, 0, 0.3), inset 3px 3px 7px rgba(0, 0, 0, 0.4), inset -3px -3px 7px rgba(255, 255, 255, 0.6);
    margin: 5px 0;
    background: rgba(255, 0, 0, 0.3);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3), -2px -2px 3px rgba(255, 255, 255, 0.3);
}

.glass-button-help:hover {
    background-color: rgba(255, 0, 0, 0.4);
    box-shadow: 0 4px 12px rgba(255, 0, 0, 0.5), 0 6px 20px rgba(255, 0, 0, 0.4), inset 3px 3px 7px rgba(0, 0, 0, 0.4), inset -3px -3px 7px rgba(255, 255, 255, 0.6);
} */

.score-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: -8px auto;
    padding: 0 5%;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 18px;
    color: #fff;
    border: 2px solid rgba(3, 179, 3, 0.6);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 255, 0, 0.4), 0 6px 20px rgba(0, 255, 0, 0.3), inset 3px 3px 7px rgba(0, 0, 0, 0.4), inset -3px -3px 7px rgba(255, 255, 255, 0.6);
    margin: 5px 0;
    background: rgba(0, 255, 0, 0.3);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3), -2px -2px 3px rgba(255, 255, 255, 0.3);
}

.correct {
    background-color: rgba(0, 255, 0, 0.3);
}

.incorrect {
    background-color: rgba(255, 0, 0, 0.3);
    border: 2px solid rgba(255, 0, 0, 0.6);
    box-shadow: 0 4px 6px rgba(255, 0, 0, 0.4), 0 6px 20px rgba(255, 0, 0, 0.3), inset 3px 3px 7px rgba(0, 0, 0, 0.4), inset -3px -3px 7px rgba(255, 255, 255, 0.6);
}

#correctAnswer {
    margin-top: 0;
    font-size: 18px;
    color: #ff0000;
}



#englishSentence {
    margin-bottom: 10px;
    
}

/* .glass-button-mic {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5), inset -2px -2px 5px rgba(255, 255, 255, 0.1);
    color: #2a2a2a;
    font-size: 16.8px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid #2a2a2a;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    
}

.glass-button-mic:hover {
    background: #f0f0f0;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5), inset -2px -2px 5px rgba(255, 255, 255, 0.1);
}

.glass-button-mic:active {
    background: #e0e0e0;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5), inset -2px -2px 5px rgba(255, 255, 255, 0.1);
} */

/* #sentenceContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* .glass-button-mic {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5), inset -2px -2px 5px rgba(255, 255, 255, 0.1);
    color: #2a2a2a;
    font-size: 16.8px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid #2a2a2a;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.glass-button-mic:hover {
    background: #f0f0f0;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5), inset -2px -2px 5px rgba(255, 255, 255, 0.1);
}

.glass-button-mic:active {
    background: #e0e0e0;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5), inset -2px -2px 5px rgba(255, 255, 255, 0.1);
}

.glass-button-back {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5), inset -2px -2px 5px rgba(255, 255, 255, 0.1);
    color: #2a2a2a;
    font-size: 16.8px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid #2a2a2a;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 10%;
}

.glass-button-back:hover {
    background: #f0f0f0;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5), inset -2px -2px 5px rgba(255, 255, 255, 0.1);
}

.glass-button-back:active {
    background: #e0e0e0;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5), inset -2px -2px 5px rgba(255, 255, 255, 0.1);
} */

#russianSentenceContainer {
    margin-top: 0px;
    /* Поднимаем русские и английские предложения */
}

.glass-button-mic {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5), inset -2px -2px 5px rgba(255, 255, 255, 0.1);
    color: #2a2a2a;
    font-size: 16.8px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid #2a2a2a;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -40px;
    /* Поднимаем кнопку еще выше */
}

.glass-button-mic:hover {
    background: #f0f0f0;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5), inset -2px -2px 5px rgba(255, 255, 255, 0.1);
}

.glass-button-mic:active {
    background: #e0e0e0;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5), inset -2px -2px 5px rgba(255, 255, 255, 0.1);
}

.glass-button-back {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5), inset -2px -2px 5px rgba(255, 255, 255, 0.1);
    color: #2a2a2a;
    font-size: 16.8px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid #2a2a2a;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 10%;
    margin-top: -40px;
    /* Поднимаем кнопку еще выше */
}

.glass-button-back:hover {
    background: #f0f0f0;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5), inset -2px -2px 5px rgba(255, 255, 255, 0.1);
}

.glass-button-back:active {
    background: #e0e0e0;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5), inset -2px -2px 5px rgba(255, 255, 255, 0.1);
}