body {
    font-size: 18px;
    text-align: center;
    background-color: #f0f8ff;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.glass-button {
    font-size: 18px;
    padding: 10px 20px;
    color: #fff;
    border: 2px solid rgba(0, 0, 255, 0.6);
    border-radius: 15px;
    cursor: pointer;
    transition: color 0.5s, box-shadow 0.5s;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 255, 0.4), 0 6px 20px rgba(0, 0, 255, 0.3), inset 3px 3px 7px rgba(0, 0, 0, 0.4), inset -3px -3px 7px rgba(255, 255, 255, 0.6);
    margin: 10px 0;
    background: rgba(0, 0, 255, 0.3);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3), -2px -2px 3px rgba(255, 255, 255, 0.3);
}

.glass-button:hover {
    color: #fff;
    background: rgba(0, 0, 139, 0.4);
    box-shadow: 0 4px 12px rgba(0, 0, 139, 0.5), 0 6px 20px rgba(0, 0, 139, 0.4), inset 3px 3px 7px rgba(0, 0, 0, 0.4), inset -3px -3px 7px rgba(255, 255, 255, 0.6);
}

.glass-button-russian {
    background-color: rgba(255, 0, 0, 0.3);
    border: 2px solid rgba(255, 0, 0, 0.6);
}

.glass-button-russian:hover {
    background-color: rgba(255, 0, 0, 0.4);
    box-shadow: 0 4px 12px rgba(255, 0, 0, 0.5), 0 6px 20px rgba(255, 0, 0, 0.4), inset 3px 3px 7px rgba(0, 0, 0, 0.4), inset -3px -3px 7px rgba(255, 255, 255, 0.6);
}

.glass-button-english {
    background-color: rgba(0, 102, 0, 0.3);
    border: 2px solid rgba(0, 102, 0, 0.6);
}

.glass-button-english:hover {
    background-color: rgba(0, 128, 0, 0.4);
    box-shadow: 0 4px 12px rgba(0, 128, 0, 0.5), 0 6px 20px rgba(0, 128, 0, 0.4), inset 3px 3px 7px rgba(0, 0, 0, 0.4), inset -3px -3px 7px rgba(255, 255, 255, 0.6);
}

.glass-button-arabic {
    background-color: rgba(0, 0, 255, 0.3);
    border: 2px solid rgba(0, 0, 255, 0.6);
}

.glass-button-arabic:hover {
    background-color: rgba(0, 0, 139, 0.4);
    box-shadow: 0 4px 12px rgba(0, 0, 139, 0.5), 0 6px 20px rgba(0, 0, 139, 0.4), inset 3px 3px 7px rgba(0, 0, 0, 0.4), inset -3px -3px 7px rgba(255, 255, 255, 0.6);
}

.glass-button-swahili {
    background-color: rgba(153, 102, 0, 0.3);
    border: 2px solid rgba(153, 102, 0, 0.6);
}

.glass-button-swahili:hover {
    background-color: rgba(153, 102, 0, 0.4);
    box-shadow: 0 4px 12px rgba(153, 102, 0, 0.5), 0 6px 20px rgba(153, 102, 0, 0.4), inset 3px 3px 7px rgba(0, 0, 0, 0.4), inset -3px -3px 7px rgba(255, 255, 255, 0.6);
}

@media (max-width: 600px) {
    body {
        font-size: 16px;
    }

    .glass-button {
        font-size: 16px;
    }
}